<section class="fp s2" id="s2"{% if site_config.get('s2_bg_image') %} style="background-image:url('{{ site_config.get('s2_bg_image') }}')"{% endif %}>
  <div class="wrap grid">
    <div class="neon-title">
      <div class="hand" data-rv>창업만족도 1위 <small>[확인필요: 근거]</small></div>
      <h2 data-rv>{{ brand.name }}</h2>
      <div class="line" data-rv></div>
      <div class="why" data-rv>{{ brand.name }}을 선택해야 하는 이유</div>
    </div>
    <div>
      <div class="rbox-grid">
        <div class="rbox" data-rv><b>1</b><p>고급스러운<br>인테리어에<br><em>저렴한 창업비</em></p></div>
        <div class="rbox" data-rv style="transition-delay:.08s"><b>2</b><p><em>3일</em>이면<br>교육 끝!</p></div>
        <div class="rbox" data-rv style="transition-delay:.16s"><b>3</b><p><em>4분</em>이면 뚝딱!<br>맛있는 메뉴</p></div>
        <div class="rbox" data-rv style="transition-delay:.24s"><b>4</b><p>광고분담금<br><em>제로</em></p></div>
        <div class="rbox" data-rv style="transition-delay:.32s"><b>5</b><p><em>연 2회</em><br>신메뉴 출시</p></div>
        <div class="rbox" data-rv style="transition-delay:.4s"><b>6</b><p>고객이 신뢰하는<br>브랜드<br><em>[확인필요]</em></p></div>
      </div>
      <p class="foot" data-rv>※ 메뉴별 조리시간 상이할 수 있음 · 6번 항목 수상이력 자료 수급 후 확정</p>
    </div>
  </div>
</section>
