__pycache__/
*.pyc
.venv/
.env
*.mp4
!app/static/video/hero.mp4
!app/static/video/crowd.mp4
맥주엔딹영상 (2)/
메뉴이미지(누끼)/
이미지 폴더/
주류/
/logo.png
app/static/uploads/*
!app/static/uploads/**/.gitkeep
instance/
*.log
